<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/panel.css">
    <script src="/js/panel.js"></script>
</head>
<body>
    <div class="sidebar">
        <img src="/svg/gati.svg" alt="GateCore Logo" class="header-svg-gati">
        <h2>GateCore-Panel</h2>
        <ul>
            <li><a href="/panel">Dashboard</a></li>
            <li><a href="/panel/lxc">LXC</a></li>
            <li><a href="/panel/servers">Server</a></li>
            <li><a href="/panel/users">Benutzer</a></li>
            <li><a href="/panel/logs">Logs</a></li>
            <li><a href="/panel/backup">Backup</a></li>
            <li><a href="/panel/storage">Speicher</a></li>
            <li><a href="/panel/settings">Einstellungen</a></li>
        </ul>
    </div>
    <div class="taskbar-oben">
        <div class="taskbar-oben-left">
            <h1>Dashboard</h1>
        </div>
        <div class="taskbar-oben-right">
            <button id="logoutButton">Abmelden</button>
        </div>
    </div>
    <div class="statistiken">
        <h2>Statistiken</h2>

            <div class="dashboard-grid">

            <div class="dashboard-card">
                <h2>LXC Container</h2>
                <span id="lxc-count">0</span>
            </div>

            <div class="dashboard-card">
                <h2>Server</h2>
                <span id="server-count">0</span>
            </div>

            <div class="dashboard-card">
                <h2>CPU</h2>
                <span id="cpu-usage">0%</span>
            </div>

            <div class="dashboard-card">
                <h2>RAM</h2>
                <span id="ram-usage">0%</span>
            </div>

            <div class="dashboard-card">
                <h2>Speicher</h2>
                <span id="storage-usage">0%</span>
            </div>
        </div>
    </div>

</body>
</html>
